@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Beau Rivage';
  src: url('../fonts/BeauRivage-Regular.ttf');
}
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f0;
  font-family: 'Beau Rivage', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
